<!DOCTYPE html>
<html>
<head>
  <title>Lister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset='utf-8'>
</head>
<body>

<div id='messages'>
  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>
</div>

<div id='wrapper'>
  <aside id='main_controls'>
    <div id='user_menu'>
      <%= render 'shared/user_menu' %>
    </div>
  </aside>

  <section id='main'>
    <%= yield %>    
  </section>
</div>

<div id='registration_form_wrapper'></div>

</body>
</html>
